h1 {
  text-align: center;
  background: floralwhite;
  color: saddlebrown;
  font-family: fantasy
}

.heading1{
  color: red;
}


ol {
  text-decoration: underline;
}

.first{
  text-align: center;
}


a img{
  width: 392px;
  height: auto;
}

.second{
  font-size: 16px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

footer {
  display: inline-block;
  padding: 10px 20px;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
